<div class="alert alert-primary" role="alert">
  <div class="row py-1">
    <div class="col-6">{{courseItem.title}}</div>
    <div class="col-2 text-right">{{courseItem.duration}} min</div>
    <div class="col-2 text-center">{{courseItem.creationDate}}</div>
    <div class="col-2 text-right">
      <button type="button" class="btn btn btn-outline-primary">Edit</button>
    </div>
  </div>
  <div class="row py-1">
    <div class="col-10">{{courseItem.description}}</div>
    <div class="col-2 text-right">
      <button type="button" class="btn btn btn-outline-primary">Delete</button>
    </div>
  </div>
</div>
