.loader-hidden {
  visibility: hidden;
}
.loader-overlay {
  position: absolute;
  width:100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: 500000;
}
mat-spinner {
  zoom: 4;
}
