<div
  class="alert alert-primary"
  role="alert"
  [appHighlightCourse]="courseItem.date"
  [ngClass]="{rated: courseItem.isTopRated}"
>
  <div class="row py-1">
    <div class="col-4">
      {{courseItem.name | uppercase}}
      <mat-icon class="align-bottom" *ngIf="courseItem.isTopRated">star</mat-icon>
    </div>
    <div class="col-2 text-right">{{courseItem.length | duration}}</div>
    <div class="col-4 text-center">{{courseItem.date | date:'fullDate'}}</div>
    <div class="col-2 text-right">
      <button (click)="editCurrentCourse(courseItem.id)" type="button" class="btn btn btn-outline-primary">Edit</button>
    </div>
  </div>
  <div class="row py-1">
    <div class="col-10">{{courseItem.description}}</div>
    <div class="col-2 text-right">
      <button (click)="deleteCourseById(courseItem.id)" type="button" class="btn btn btn-outline-primary delete">Delete</button>
    </div>
  </div>
</div>
