<header class="rounded-top bg-light mb-3">
  <div class="navbar navbar-light row">
    <div class="col bg-light">
      <a [routerLink]="['/courses']" class="navbar-brand">Logo for Courses</a>
    </div>
    <div class="col text-right">
      <span class="mr-4" *ngIf="isAuthenticated()">{{user.firstName}} {{user.lastName}}</span>
      <button *ngIf="!isAuthenticated()" class="btn btn-outline-primary" type="button" (click)="login()">Log in</button>
      <button *ngIf="isAuthenticated()" class="btn btn-outline-primary" type="button" (click)="logout()">Log off</button>
    </div>
  </div>
</header>
