<app-toolbox></app-toolbox>
<div>
   <app-courses-list-item
     *ngFor="let course of courseItems | orderByDate:'date'"
     [courseItem]="course"
     (deleteCourse)="deleteCourse($event)"
   >
   </app-courses-list-item>
  <button (click)="loadMoreCourses()" type="button" class="btn btn-outline-primary btn-lg btn-block load" *ngIf="courseItems.length">LOAD MORE</button>
  <button (click)="loadCoursesFromBeginning()" type="button" class="btn btn-outline-primary btn-lg btn-block load" *ngIf="!courseItems.length">NO DATA. START FROM THE BEGINNING OR FEEL FREE TO ADD NEW COURSE</button>
</div>
